<div class="hand-container">
	<div class="hand-controls">
		<button
			(click)="game.advanceRound()"
		>Advance Round</button>
	</div>
	<div class="hand">
		<div class="arch-wrapper">
			<app-hand-card 
				*ngFor="let card of builtHand" [card]="card.card"
				(discardCard)="onCardDiscardCard($event)"
				(playCard)="onCardPlayCard($event)"
				(activeChange)="onCardActiveChange($event)"
				[ngClass]="{active: card.active}"
				[ngStyle]="{left: '' + card.left + 'px', transform: 'rotate(' + card.rotation + 'deg)', top: '' + card.top + 'px'}"
			></app-hand-card>
		</div>
	</div>
</div>