<div 
	[ngClass]="{
		card: true,
		blue: card.color === 'blue',
		red: card.color === 'red'
	}"
>
	<div class="inner-border">
		<div class="corners">
			<div class="corner topLeft">{{ card.symbol }}</div>
			<div class="corner topRight">{{ card.symbol }}</div>
			<div class="corner bottomLeft">{{ card.symbol }}</div>
			<div class="corner bottomRight">{{ card.symbol }}</div>
		</div>
		<div class="center">
			<div class="centerNumber">{{ card.symbol }}</div>
		</div>
		<ng-content></ng-content>
	</div>
</div>