<app-card
	[card]="card"
	(click)="onClickCard()"
	[ngClass]="{
		clicked: !!active,
		'not-playable': !playable
	}"
>
	<div *ngIf="active === true" class="controls">
		<button 
			*ngIf="interfaceService.discardNecessary"
			(click)="onClickDiscard($event)"
		>Discard</button>
		<button
			*ngIf="isBeingPlayed()"
			(click)="onClickCancel($event)"
			class="cardButton redButton"
		>Cancel</button>

		<button
			*ngIf="playable && card.actions.length == 1"
			(click)="onClickAction(card.actions[0], $event)"
			[disabled]="isPlayDisabled()"
		>Play</button>
		<div *ngIf="card.actions.length > 1" class="play-actions">
			<button
				*ngFor="let cardAction of card.actions"
				(click)="onClickAction(cardAction, $event)"
			>{{ cardAction.text}}
			</button>
		</div>
	</div>
	<div class="error-text" *ngIf="!playable">Not Playable</div>
</app-card>
